%footer#footer
  %ul.nav
    %li
      %a{href: '/terms'} Terms of service
    %li
      %a{href: '/privacy'} Privacy policy
    %li
      %a{href: 'https://github.com/magic003/search_pocket'} Open source
    %li
      %a{href: 'mailto:diego003@gmail.com'} Contact
