%header#header
  .container
    %h1.logo
      %a{href: '/'} SearchPocket
    - if signed_in?
      #user_session
        %span.name= session[:uid]
        .dropdown
          %ul
            %li
              %a{href: '/logout'} Logout
    - else
      %ul.nav
        %li
          %a{href: '/auth/pocket', class: 'button'} Login with Pocket

