.container
  %article#privacy
    %h1 Privacy Policy

    %h3 Information Gathering and Usage
    %ul
      %li To use searchpocket, you must sign in by connecting to Pocket. By signin in this way, you are implicitly granting us the permission to retrieve items from Pocket.
      %li Searchpocket.info automatically retrieves links from Pocket on your behalf. You authorize access to your Pocket account via OAuth protocol, without providing your password. We will only request the necessary rights to retrieve links and will not post content without your permission.
      %li Links are retrieved from Pocket and saved in searchpocket.info. We will not do anything evil with them. Sometimes, we will show them to other searchpocket.info users as recommendations.

    %h3 Cookies
    %ul
      %li A cookie is a small amount of data, which often includes an anonymous unique identifier, that is sent to your browser from a website's computer and stored on your computer's hard drive.
      %li Cookies are required to use searchpocket.info.
      %li We use cookies to record session information, and only use permanent cookies if you tell us to do so explicitly.
      
    %h3 Changes
    %p Searchpocket.info may change its Privacy Policy from time to time. We encourage users to frequently check this page for any changes. Your continued use of this website after any change in this Privacy Policy will constitue your acceptance of such change.

    %h3 Questions
    %p If you have any concerns or questions about this Privacy Policy, email us at diego003 at gmail.com.
