.container
  %article#terms
    %h1 
      Terms of Service

    %p 
      By using the searchpocket.info website ("Site") or any service offered by searchpocket.info ("Services"), you are agreeing to be bound by the following Terms of Service ("Terms"). If you don't agree to these Terms, you may not access the Site or use the Services. Searchpocket reserves the right to update and change the Terms from time to time without notice. It is your responsibility to check this Terms periodically for changes.

    %h3 
      Account Terms
    %p 
      In consideration of your use of the Services, you agree to:
    %p 
      1) You must authorize access of your Pocket account to searchpocket, with the "Retrieve items from a user's list" permission, in order to complete the signup process.

    %p 
      2) You are responsible for maintaining the security of your searchpocket and Pocket account. Searchpocket cannot and will not be liable for any loss or damage from your failure to comply with this security obligation.

    %p 
      3) You are fully responsible for all activities that occur under the account and any other actions taken in connection with the account.

    %p 
      4) You must immediately notify searchpocket.info of any unauthorized uses of your account or any other breaches of security.

    %h3 
      Content Terms
    %p 
      All the information, text, graphics, photos or other materials ("Content") posted or published, uploaded, transmitted or linked from Pocket, are the sole responsibility of the person who originated such Content. Searchpocket may not monitor or control the Content posted via the Services and, it cannot take responsibility for such Content. Any use or reliance on any content or materials posted via the Services or obtained by you through the Services is at you own risk.

    %p 
      The Site and Content available through the Services may contain links to other websites, which are completely independent of searchpocket.info. Your linking to any other website is at your own risk.

    %p 
      Searchpocket.info does not pre-screen Content, but searchpocket.info has the right(but not the obligation) in its sole discretion to refuse or remove any Content that is available via the Services.

    %h3 
      API Terms
    %p 
      Searchpocket.info provides access to portions of its Site and Services via an API. For the purposes of these Terms, such access consitutes use of the Site and Services. You must use the API respectfully as outlined in the documentation. Searchpocket.info reserves the right at any time to modify or discontinue, temporarily or permenantly, your access to the API(or any part thereof) with or without notice.

    %h3 
      Termination
    %p 
      Searchpocket.info reserves the right, in its sole discretion, to suspend or terminate your account and refuse any and all current or future use of the Services, at any time for any reason or in the future charge for commercial usage. Such termination of the Services will result in the deactivation or deletion of your account or your access to your account, and all Content in your account. Searchpocket.info reserves the right to refuse service to anyone for any reason at any time.

    %h3 
      Disclaimer of Warranties and Limitation of Liability
    %p 
      SEARCHPOCKET.INFO PROVIDES THE SITE AND SERVICES "AS IS" AND WITHOUT ANY WARRANTY OR CONDITION, EXPRESS, IMPLIED OR STATUTORY. SEARCHPOCKET.INFO SPECIFICALLY DISCLAIMS ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, INFORMATION ACCURACY, INTEGRATION, INTEROPERABILITY OR QUIET ENJOYMENT.

    %p UNDER NO CIRCUMSTANCES SHALL SEARCHPOCKET.INFO OR ITS AFFILIATES BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES OF ANY KIND, OR ANY OTHER DAMAGES WHATSOEVER (HOWEVER ARISING, INCLUDING BY NEGLIGENCE), INCLUDING WITHOUT LIMITATION, DAMAGES RELATED TO USE, MISUSE, RELIANCE ON, INABILITY TO USE AND INTERRUPTION, SUSPENSION, OR TERMINATION OF THE SITE OR SERVICES, DAMAGES INCURRED THROUGH ANY LINKS PROVIDED ON THE SITE AND THE NONPERFORMANCE THEREOF AND DAMAGES RESULTING FROM LOSS OF USE, SALES, DATA, GOODWILL OR PROFITS, WHETHER OR NOT SEARCHPOCKET.INFO HAS BEEN ADVISED OF SUCH POSSIBILITY. YOUR ONLY RIGHT WITH RESPECT TO ANY DISSATISFACTION WITH SEARCHPOCKET.INFO SHALL BE TO TERMINATE USE OF SEARCHPOCKET.INFO.

    %h3 
      Other
    %p 
      The failure of searchpocket.info to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision. The Terms of Service constitute the entire agreement between your and searchpocket.info and govern your use of the Services, superseding any prior agreements between you and searchpocket.info (including, but not limited to, any prior versions of the Terms of Service).
